@using System.Web.Optimization
@using WebHelpers.Mvc5.Enum
@using SystemConsoler.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        .jsgrid-cell {
            overflow: hidden;
            word-wrap: break-word;
        }

        .jsgrid-header-sortable {
            text-align: center;
            color: black !important;
            font-size: 14px !important;
            font-family: sans-serif !important;
        }
    </style>
    <script src="/Content/js/plugins/jquery/jquery-3.3.1.js"></script>

    <title>
        @*@if (!string.IsNullOrWhiteSpace(ViewBag.Title))
            {
                @ViewBag.Title@: -
            }*@
        SystemConsoler
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Styles.Render("~/Bundles/css")
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Image preview</h4>
                </div>
                <div class="modal-body">
                    <img src="" id="imagepreview" style="width: 100%;height: 400px;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")

        <div class="content-wrapper">
            <section class="content-header">
                <div style="display:none" class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    <div id="failurealert">@((Session["divMessage"] as SessionModel)?.Message ) </div>
                </div>
                <div style="display:none;background-color:#C4E2FF !important;color:black;" class="alert alert-success">
                    @* <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>*@
                    <h4 style="color:darkgreen;"><i class="icon fa fa-check"></i> Alert!</h4>
                    <div id=""> <h5 id="successalert" style="color:darkgreen">@((Session["divMessage"] as SessionModel)?.Message )</h5> </div>
                </div>

                @RenderBody()
            </section>

            @*<section class="content">
                    <input type="hidden" id="hdnMessage" name="hdnMessage">
                    <div id="divMessage" style="color:blue;">
                        @Session["divMessage"]
                    </div>

                </section>*@
        </div>

        @Html.Partial("_ControlSidebar")
    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    @Scripts.Render("~/Bundles/js")
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.js"></script>
    @RenderSection("ViewSpecificJavascript", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        //$.noConflict();
        $("a").each(function () {
            if (this.text == "Back to List") {
                $(this).addClass("btn btn-primary");
            }
            else if (this.text == "Create New") {
                $(this).addClass("btn btn-danger");
            }
            else if (this.text == "Create") {
                $(this).addClass("btn btn-danger");
            }

        })

        $(".pop").on("click", function () {

            $('#imagepreview').attr('src', this.src); // here asign the image to the modal when the user click the enlarge link
            $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
        });
        //$('#NextImage').click(function () {
        //    $(".pop")
        //})
    })
</script>
<script type="text/javascript">
    debugger
       if ('@((Session["divMessage"] as SessionModel)?.Message)' != '')
       {
           if ('@((Session["divMessage"] as SessionModel)?.Type)' == '1')
           {
               $('#successalert').text( '@((Session["divMessage"] as SessionModel)?.Message)'); $('.alert-success').fadeIn().delay(3000).fadeOut();
           }
           else {
               $('#failurealert').text('@((Session["divMessage"] as SessionModel)?.Message)'); $('.alert-danger').fadeIn().delay(3000).fadeOut();
           }


            $.ajax({

                url: "../Home/SettingSessionToNull",
                dataType: "JSON",
                async: false
            });
        }

</script>

<script>
    function AlertPopUp(data) {
        $('#successalert').text(data);
        $('.alert-success').fadeIn().delay(3000).fadeOut();
    }
    function AlertFailurePopUp(data) {
        $('#failurealert').text(data);
        $('.alert-danger').fadeIn().delay(3000).fadeOut();

    }
</script>
