@using System;
@using System.Globalization;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using System.Web;
@using System.Web.Mvc;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.Owin.Security;
@using SystemConsoler.Models;
@using SystemConsoler.BLL.Models;
@using SystemConsoler.BLL.Context;
@using Newtonsoft.Json;

@using WebHelpers.Mvc5


@{
    try
    {
        //ConsolerContext db = new ConsolerContext();
        //int user2 = int.Parse(User.Identity.GetUserId());
        //int? userType;
        //if (user2 == 1)
        //{
        //    userType = 1;
        //}
        //else
        //{
        //    userType = 1;// db.Users.FirstOrDefault(x => x.ApplicationUser == user2)?.UserType.Id;
        //}
        //Session.Add("UserType", userType);
        <aside class="main-sidebar">
            <section class="sidebar">
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        @*<input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">*@
                        @*<button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>*@
                        @*</button>*@
                        @*</span>*@
                    </div>
                </form>
                @*@switch (userType)
        {
            case 1:
                //manager
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header"></li>
                    <li class="@Url.IsLinkActive("DashboardSalesManager", "Dashboard")">
                        <a href="@Url.Action("DashboardSalesManager", "Dashboard")"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i> <span>User Management</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("ChangePassword", "Account")">Change Password</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-tasks"></i> <span>Lead</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("LeadListing", "LeadPools")">Lead Listing</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-rocket"></i> <span>Reports</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("UnAssignedReports", "Reports")">UnAssigned Leads</a></li>
                        </ul>
                    </li>

                </ul>
                break;
            case 2:
                //salesman
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header"></li>
                    <li class="@Url.IsLinkActive("DashboardSalesman", "Dashboard")">
                        <a href="@Url.Action("DashboardSalesman", "Dashboard")"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i> <span>User Management</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("ChangePassword", "Account")">Change Password</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-tasks"></i> <span>Lead</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("LeadListing", "LeadPools")">Lead Listing</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-rocket"></i> <span>Reports</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("UnAssignedReports", "Reports")">UnAssigned Leads</a></li>
                        </ul>
                    </li>
                </ul>
                break;
            case 3:
                //operator
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header"></li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i> <span>User Management</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("ChangePassword", "Account")">Change Password</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-tasks"></i> <span>Lead</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("LeadListing", "LeadPools")">Lead Listing</a></li>

                        </ul>
                    </li>


                </ul>
                break;
            default:
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header"></li>
                    <li class="@Url.IsLinkActive("DashboardAdmin", "Dashboard")">
                        <a href="@Url.Action("DashboardAdmin", "Dashboard")"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i> <span>User Management</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("UserListing", "Account")">User Listing</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-wrench"></i> <span>Configuration</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "ActionTypes")">Company Info</a></li>
                            <li class="treeview">
                                <a href="#">
                                    <span>Master</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Index", "ActionTypes")">Action Types</a></li>
                                    <li><a href="@Url.Action("Index", "Areas")">Areas</a></li>
                                    <li><a href="@Url.Action("Index", "Campaigns")">Campaigns</a></li>
                                    <li><a href="@Url.Action("Index", "Cities")">Cities</a></li>
                                    <li><a href="@Url.Action("Index", "Countries")">Countries</a></li>
                                    <li><a href="@Url.Action("Index", "Currencies")">Currencies</a></li>
                                    <li><a href="@Url.Action("Index", "PropertyTypes")">Property Types</a></li>
                                    <li><a href="@Url.Action("Index", "SourceTypes")">Source Types</a></li>
                                    <li><a href="@Url.Action("Index", "SalesmenCategories")">Salesmen Categories</a></li>
                                    <li><a href="@Url.Action("Index", "TargetPeriods")">Target Periods</a></li>
                                    <li><a href="@Url.Action("Index", "TargetTypes")">Target Types</a></li>

                                </ul>
                            </li>
                        </ul>


                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-tasks"></i> <span>Lead</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("LeadListing", "LeadPools")">Lead Listing</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-home"></i> <span>Property</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AppPropertyList", "PropertyMasters")">App Property Listing</a></li>
                            <li><a href="@Url.Action("Index", "PropertyMasters")">Web Property Listing</a></li>
                            <li><a href="@Url.Action("Create", "PropertyMasters")">Add Property</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>Salesman</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Salemen")">Salesman Listing</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-rocket"></i> <span>Reports</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("UnAssignedReports", "Reports")">Leads</a></li>
                            <li><a href="@Url.Action("CampaignReports", "Reports")">Campaign</a></li>
                            <li><a href="@Url.Action("OpportunityInHand", "Reports")">OpportunityInHand</a></li>
                            <li><a href="@Url.Action("Target", "Reports")">Target</a></li>
                            <li><a href="@Url.Action("LeadConversion", "Reports")">LeadConversion</a></li>

                        </ul>
                    </li>
                </ul>
                break;
        }*@

                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header"></li>
                    <li class="@Url.IsLinkActive("DashboardAdmin", "Dashboard")">
                        <a href="@Url.Action("DashboardAdmin", "Dashboard")"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i> <span>User Management</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("UserListing", "Account")">User Listing</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-wrench"></i> <span>Configuration</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "ActionTypes")">Company Info</a></li>
                            <li class="treeview">
                                <a href="#">
                                    <span>Master</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Index", "ActionTypes")">Action Types</a></li>
                                    <li><a href="@Url.Action("Index", "Areas")">Areas</a></li>
                                    <li><a href="@Url.Action("Index", "Campaigns")">Campaigns</a></li>
                                    <li><a href="@Url.Action("Index", "Cities")">Cities</a></li>
                                    <li><a href="@Url.Action("Index", "Countries")">Countries</a></li>
                                    <li><a href="@Url.Action("Index", "Currencies")">Currencies</a></li>
                                    <li><a href="@Url.Action("Index", "PropertyTypes")">Property Types</a></li>
                                    <li><a href="@Url.Action("Index", "SourceTypes")">Source Types</a></li>
                                    <li><a href="@Url.Action("Index", "SalesmenCategories")">Salesmen Categories</a></li>
                                    <li><a href="@Url.Action("Index", "TargetPeriods")">Target Periods</a></li>
                                    <li><a href="@Url.Action("Index", "TargetTypes")">Target Types</a></li>

                                </ul>
                            </li>
                        </ul>


                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-tasks"></i> <span>Lead</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("LeadListing", "LeadPools")">Lead Listing</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-home"></i> <span>Property</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AppPropertyList", "PropertyMasters")">App Property Listing</a></li>
                            <li><a href="@Url.Action("Index", "PropertyMasters")">Web Property Listing</a></li>
                            <li><a href="@Url.Action("Create", "PropertyMasters")">Add Property</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>Salesman</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Salemen")">Salesman Listing</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-rocket"></i> <span>Reports</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("UnAssignedReports", "Reports")">Leads</a></li>
                            <li><a href="@Url.Action("CampaignReports", "Reports")">Campaign</a></li>
                            <li><a href="@Url.Action("OpportunityInHand", "Reports")">OpportunityInHand</a></li>
                            <li><a href="@Url.Action("Target", "Reports")">Target</a></li>
                            <li><a href="@Url.Action("LeadConversion", "Reports")">LeadConversion</a></li>

                        </ul>
                    </li>
                </ul>
            </section>
        </aside>}
    catch (Exception e)
    {

    }

}


@* END Search *@
@* BEGIN Menu *@

@* END Menu *@
