@model SystemConsoler.Models.AccountRegistrationModel
@{

    //  Layout = null;
}

@*@Html.Partial("_Scripts")*@
@if (@Model is HelperResult)
{
    @Model
}







<form action="@Url.Action("ChangePassword", "account")" method="Post" id="smart-form-register">
    <div id="content">
        <h1>Change Password</h1>
        <div class="box box-danger">
            <div class="box-header with-border">
                <div class="form-horizontal">

                    <div class="form-group"></div>
                    <div class="form-group"></div>
                    <div class="form-group"></div>
                </div>

                <div class="form-horizontal">
                    @Html.AntiForgeryToken()
                    <header>

                        @{
                            if (TempData["success"] != null)
                            {
                                <div style="color: #2fe42f;font-size: 12px;margin-top: 15px;">
                                    @Html.Encode(TempData["success"])
                                </div>

                            }
                        }
                    </header>
                    <input type="hidden" value="@ViewBag.UserID" name="UserID" />
                    <div class="">
                        @Html.ValidationSummary(true, "", new { @class = "text-danager alert", Style = "color:red;" })
                    </div>
                    <fieldset>

                        <section class="col-lg-12">
                            <div class="col-lg-2">Old Password</div>
                            <div class="col-lg-9">
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    <input type="password" id="OldPassword" value="" required name="OldPassword" placeholder="Old Password" />
                                    <b class="tooltip tooltip-bottom-right">Old Password</b>
                                    @Html.ValidationMessage("OldPassword", "", new { Style = "color:red;" })

                                </label>
                            </div>

                        </section>
                        <section class="col-lg-12">
                            <div class="col-lg-2">Password</div>
                            <div class="col-lg-9">
                                <label class="input">

                                    <i class="icon-append fa fa-lock"></i>
                                    @Html.PasswordFor(model => model.Password, new { placeholder = "Password", value = "" })
                                    <b class="tooltip tooltip-bottom-right">Password</b>
                                    @Html.ValidationMessageFor(model => model.Password, "", new { Style = "color:red;" })

                                </label>
                            </div>

                        </section>

                        <section class="col-lg-12">
                            <div class="col-lg-2">Password Confirm</div>
                            <div class="col-lg-9">
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    @Html.PasswordFor(model => model.PasswordConfirm, new { placeholder = "Confirm Password", value = "" })
                                    <b class="tooltip tooltip-bottom-right">Re-enter your password</b>
                                    @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { Style = "color:red;" })


                                </label>
                            </div>
                        </section>

                    </fieldset>


                    <footer>
                        <div class="form-group">
                            <div class="col-md-offset-10 col-md-2">
                                <input type="submit" value="Update" class="btn btn-primary btn-block btn-flat" />

                            </div>


                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">

    $(document).ready(function () {
        $("#ddUserType").change(function () {
            debugger;
            var end = this.value;
            if (end == 1) {
                //$("#ddManager").css("display", "none");
                $("#ddManagers").hide();
            }
            else {
                $("#ddManagers").show();
                //$("#ddManager").css("display", "inline");
            }

        });
        $('input:not(.No-Validate), textarea:not(.No-Validate), select:not(.No-Validate)').on('focusout keyup', function () {
            if ($(this).val() == "") {
                $(this).closest(".input").addClass("state-error")
            }
            else { $(this).closest(".input").removeClass("state-error") }
        });
    });

</script>
